* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 240px;
    background: gray;
}

header .logo {
    font-size: 32px;
    color: white;
}

header .add-to-cart {
    display: flex;
    align-items: center;
    background: lightgray;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

header .add-to-cart p {
    margin: 5px;
    font-weight: bold;
}

main {
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.root {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.root .box {
    width: 100%;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 3px;
    text-align: center;
}

.root .box img {
    width: 70%;
}

.root .box .title {
    font-size: 26px;
}

.root .box .price {
    margin: 10px 0;
}

.root .box button {
    padding: 15px 10px;
    font-size: 18px;
    cursor: pointer;
}

.checkout {
    width: 32%;
}

.checkout .title-checkout {
    text-align: center;
    background: gray;
    border-radius: 3px;
    padding: 10px 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightgray;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 10px 0;
}

.checkout .bottom {
    border: 2px solid gray;
}

.checkout .bottom p {
    margin: 10px;
    font-size: 24px;
    text-align: right;
}

.cart-item img {
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.empty-cart {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.cart-item i {
    cursor: pointer;
}